@import "../../../bower_components/bourbon/dist/bourbon"
@import "../../../bower_components/neat/app/assets/stylesheets/neat"

$font_family: 'Droid Serif', serif
$font_size: 14px

$text_color: #ddd

$header_color_light: #999
$header_color_dark: #666

$footer_color_light: #666
$footer_color_dark: #333

$background_color: #222
$background_color_darker: #111
$background_color_lighter: #333

$banner_color: #444
$banner_color_lighter: #333

// Breakpoints
$mobile: new-breakpoint(min-width em(480))
$tablet: new-breakpoint(min-width em(720))
$desktop: new-breakpoint(min-width em(960))
$largedesktop: new-breakpoint(min-width em(1050))
