* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* http://meyerweb.com/eric/tools/css/reset/
 * v2.0 | 20110126
 * License: none (public domain) */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html,
body {
  height: 100%; }

div.page-wrap {
  min-height: 100%;
  margin-bottom: -3em;
  padding-bottom: 3em; }
  div.page-wrap:after {
    content: "";
    display: block; }

footer {
  height: 3em; }

.left {
  float: left; }

.right {
  float: right; }

* {
  box-sizing: border-box; }

body {
  background-color: rgba(0, 0, 0, 0.6);
  color: #dddddd;
  font-family: "Droid Serif", serif;
  font-size: 14px; }

h1 {
  font-size: 59.30121px; }

h2 {
  font-size: 36.65094px; }

h3 {
  font-size: 22.652px; }

h1, h2, h3, h4, h5, h6 {
  padding: 0.5em;
  color: #51b350; }

p {
  padding: 0.5em;
  line-height: 1.4em; }

a {
  color: #e38c86; }
  a:hover {
    color: #f6dbd9; }

main {
  width: 100%; }
  main video {
    position: fixed;
    bottom: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    overflow: hidden;
    z-index: -1; }
  main section.banner {
    text-align: center;
    text-shadow: 2px 2px 4px #222222;
    padding: 1em 0; }
    main section.banner.large {
      padding: 8em 0; }
    main section.banner h1 {
      color: #dddddd;
      padding: 0;
      font-size: 36.65094px; }
      @media screen and (min-width: 30em) {
        main section.banner h1 {
          font-size: 59.30121px; } }
    main section.banner h2 {
      color: #dddddd;
      padding: 0.75em 0 0 0;
      font-size: 22.652px; }
      @media screen and (min-width: 30em) {
        main section.banner h2 {
          font-size: 36.65094px; } }
  main section.heroes {
    max-width: 68em;
    margin-left: auto;
    margin-right: auto;
    text-shadow: 2px 2px 4px #222222;
    text-align: center;
    padding-bottom: 8em; }
    main section.heroes:after {
      content: "";
      display: table;
      clear: both; }
    main section.heroes h2 {
      padding: 0; }
    main section.heroes p {
      font-size: 22.652px; }
    main section.heroes input, main section.heroes button {
      height: 59.30121px;
      font-size: 22.652px; }
    main section.heroes section.newsletter {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 48.82117%; }
      main section.heroes section.newsletter:last-child {
        margin-right: 0; }
      main section.heroes section.newsletter input.email {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 65.88078%; }
        main section.heroes section.newsletter input.email:last-child {
          margin-right: 0; }
      main section.heroes section.newsletter input.button {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 31.76157%;
        border: 2px #dddddd ridge; }
        main section.heroes section.newsletter input.button:last-child {
          margin-right: 0; }
    main section.heroes section.poll {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 48.82117%; }
      main section.heroes section.poll:last-child {
        margin-right: 0; }
      main section.heroes section.poll button {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 31.76157%; }
        main section.heroes section.poll button:last-child {
          margin-right: 0; }
  main article {
    max-width: 68em;
    margin-left: auto;
    margin-right: auto; }
    main article:after {
      content: "";
      display: table;
      clear: both; }
    main article.home-page {
      background: rgba(0, 0, 0, 0.6);
      padding: 10px;
      border-radius: 10px;
      box-shadow: 0 0 42px rgba(0, 0, 0, 0.6); }
      main article.home-page section {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 82.94039%;
        margin-left: 8.5298%; }
        main article.home-page section:last-child {
          margin-right: 0; }
        @media screen and (min-width: 45em) {
          main article.home-page section {
            float: left;
            display: block;
            margin-right: 2.35765%;
            width: 48.82117%;
            margin-left: 0%; }
            main article.home-page section:last-child {
              margin-right: 0; }
            main article.home-page section:nth-child(2n) {
              margin-right: 0; }
            main article.home-page section:nth-child(2n+1) {
              clear: left; } }

footer {
  width: 100%;
  color: #999999; }
  footer section {
    max-width: 68em;
    margin-left: auto;
    margin-right: auto;
    padding: 1em 0; }
    footer section:after {
      content: "";
      display: table;
      clear: both; }
    footer section ul li {
      display: inline;
      list-style: none; }
