@import "bower_components/bourbon/dist/bourbon"
@import "bower_components/neat/app/assets/stylesheets/neat"
@import reset
@import variables
@import sticky_footer

// ----------------------------------------------------------------------------


.left
  float: left


.right
  float: right


// ----------------------------------------------------------------------------


*
  box-sizing: border-box


body
  background-color: $background_color
  color: $text_color
  font-family: $font_family
  font-size: golden-ratio($font_size, 0)

h1
  font-size: golden-ratio($font_size, 3)

h2
  font-size: golden-ratio($font_size, 2)

h3
  font-size: golden-ratio($font_size, 1)

h1,h2,h3,h4,h5,h6
  padding: 0.5em
  color: $heading_color

p
  padding: 0.5em
  line-height: 1.5em

a
  color: $link_color

  &:hover
    color: $link_color_hover

main
  width: 100%

  section.initial
    height: 100vh
    text-shadow: 2px 2px 4px #222
    text-align: center

    video
      position: fixed
      bottom: 0
      left: 0
      min-width: 100%
      min-height: 100%
      overflow: hidden
      z-index: -20
      background: url(http://cdn.pubstomp.hu/background.jpg) no-repeat;
      background-size: cover;

    section.banner
      padding: 1em 0

      &.large
        padding: 8em 0

      h1
        color: $text_color
        padding: 0
        font-size: golden-ratio($font_size, 2) // Reduce font size in banner on mobile

        @include media($tablet)
          font-size: golden-ratio($font_size, 3)

      h2
        color: $text_color
        padding: 0.75em 0 0 0
        font-size: golden-ratio($font_size, 1) // Reduce font size in banner on mobile

        @include media($tablet)
          font-size: golden-ratio($font_size, 2)

    section.heroes
      @include outer-container

      h2
        padding: 0
        font-size: golden-ratio($font_size, 1)

        @include media($tablet)
          font-size: golden-ratio($font_size, 2)

      p
        font-size: $font_size
        @include media($mobile)
          font-size: golden-ratio($font_size, 1)

      input, button
        height: golden-ratio($font_size, 2)
        font-size: $font_size

        @include media($mobile)
          height: golden-ratio($font_size, 3)
          font-size: golden-ratio($font_size, 1)

      input.button, button
        box-shadow: 0 0 16px black
        cursor: pointer

      input.button:focus, button:focus, input.button:hover, button:hover
        outline: none

      input.button:active, button:active
        box-shadow: 0 0 8px black inset

      section
        @include span-columns(10)
        @include shift(1)
        margin-bottom: 4em

        @include media($desktop)
          @include span-columns(6)
          @include shift(0)
          @include omega(2n)

      section.newsletter
        input
          border: 0
          color: white

          &.email
            @include span-columns(8)
            background: rgba(0, 0, 0, 0.2)
            box-shadow: 0 0 16px black inset
            padding: 0 0.5em
            transition: background 0.2s
            border-radius: 10px 0 0 10px

            &:focus
              outline: none
              background: rgba(0, 0, 0, 0.8)

          &.button
            @include span-columns(4)
            border-radius: 0 10px 10px 0
            background: rgba(0, 255, 0, 0.4)
            transition: background 0.2s

            &:hover, &:focus
              background: rgba(0, 255, 0, 0.6)

      section.poll
        .interactive-area
          height: golden-ratio($font_size, 2)
          font-size: $font_size

          @include media($mobile)
            height: golden-ratio($font_size, 3)
            font-size: golden-ratio($font_size, 1)

          .confirmation-message > *
            display: none

          .confirmation-message
            &.no > .no, &.maybe > .maybe, &.yes > .yes
              display: block
            &.no > .change, &.maybe > .change, &.yes > .change
              display: block
              font-size: $font_size
              line-height: $font_size * 2
              cursor: pointer
              &:hover
                color: white
            &.no + .buttons, &.maybe + .buttons, &.yes + .buttons
              display: none

          button
            @include span-columns(4)
            border: 0
            border-radius: 10px
            color: white
            font-size: golden-ratio($font_size, -1)
            transition: background 0.2s

            &.yes
              background: rgba(0, 255, 0, 0.4)
              &:hover, &:focus
                background: rgba(0, 255, 0, 0.6)
            &.maybe
              background: rgba(255, 127, 0, 0.4)
              &:hover, &:focus
                background: rgba(255, 127, 0, 0.6)
            &.no
              background: rgba(255, 0, 0, 0.4)
              &:hover, &:focus
                background: rgba(255, 0, 0, 0.6)

            .short-answer
              font-size: golden-ratio($font_size, 1)
              line-height: 1.4

            .long-answer
              display: none
              @include media($mobile)
                display: inline

    .details
      display: none
      position: fixed
      bottom: golden-ratio($font_size, 2)
      width: 100%
      text-align: center
      z-index: -10

      @include media(min-width 60em min-height 740px)
        display: block

      .text
        color: $heading_color
        font-size: golden-ratio($font_size, 1)

      .arrow
        font-size: golden-ratio($font_size, 2)

  section.content
    width: 100%
    background: rgba(0, 0, 0, 0.97)
    box-shadow: 0 0 42px black
    padding: 24px
    clear: both

    article
      @include outer-container

      &.home-page
        background: $background_color

        section
          @include span-columns(10)
          @include shift(1)

          @include media($tablet)
            @include span-columns(6)
            @include shift(0)
            @include omega(2n)

footer
  width: 100%
  color: $footer_text_color

  section
    @include outer-container
    padding: 1em 0

    ul li
      display: inline
      list-style: none
