@import "../../../bower_components/bourbon/dist/_bourbon.scss"
@import _reset.sass
@import _sticky_footer.sass
@import _grid.sass

// ----------------------------------------------------------------------------


$font_family: 'Droid Serif', serif
$font_size: 14px

$text_color: #ddd

$header_color_light: #999
$header_color_dark: #666

$footer_color_light: #666
$footer_color_dark: #333

$background_color: #222
$background_color_darker: #111
$background_color_lighter: #333


// ----------------------------------------------------------------------------


.left
  float: left


.right
  float: right


// ----------------------------------------------------------------------------


*
  box-sizing: border-box


body
  background-color: $background_color
  color: $text_color
  font-family: $font_family
  font-size: golden-ratio($font_size, 0)

h1
  font-size: golden-ratio($font_size, 3)

h2
  font-size: golden-ratio($font_size, 2)

h3
  font-size: golden-ratio($font_size, 1)

.container
  margin: 0 auto
  width: 960px


header
  width: 100%
  height: 3em
  background-color: $background_color_darker
  border-bottom: 1px dashed $background_color_lighter
  color: $header_color_dark

  &:hover
    color: $header_color_light

  .container
    padding: 1em 0

.content
  width: 100%
  padding: 1em 0

  section
    border: 1px dashed $text_color
    padding: 1em

footer
  width: 100%
  background-color: $background_color_darker
  border-top: 1px dashed $background_color_lighter
  color: $footer_color_dark

  &:hover
    color: $footer_color_light

  .container
    padding: 1em 0

    ul li
      display: inline
      list-style: none
