{% extends 'layout.html' %}

{% block content %}
    <div class="container">
        <div class="grid">
            <section class="col-1-2">
                <h2>Venue, price, dates</h2>
            </section>
            <section class="col-1-2">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d10781.938617732896!2d19.04086638073983!3d47.499951947536175!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4741c334d1d4cfc9%3A0x400c4290c1e1160!2sBudapest!5e0!3m2!1sen!2s!4v1399466870641"
                    width="100%"
                    height="350px"
                    frameborder="0"
                    style="border:0"></iframe>
            </section>
        </div>

        <div class="grid">
            <section class="col-1-2">
                <h2>What is a pubstomp?</h2>
            </section>

            <section class="col-1-2">
                <h2>What is TI?</h2>
            </section>
        </div>

        <div class="grid">
            <section class="col-1-2">
                <h2>Newsletter signup</h2>
                <p>Would you like to be alerted about future events?</p>
            </section>

            <section class="col-1-2">
                <h2>Attendance poll</h2>
                <ul>
                    <li>Yes, absolutely, not even kidding.</li>
                    <li>Maybe, kinks to work out</li>
                    <li>No, go away.</li>
                </ul>
            </section>
        </div>
    </div>
{% endblock %}
