{% extends 'layout.html' %}
{% from "macros/countdown.html" import countdown_clock, countdown_javascript %}

{% block content %}
    <section class="initial">
        <video class="normal" loop autoplay>
            <source src="http://cdn.pubstomp.hu/background_blur.webm" type="video/webm">
            <source src="http://cdn.pubstomp.hu/background_blur.mp4" type="video/mp4">
            <img src="http://cdn.pubstomp.hu/background.jpg" title="Crowd at The International 2012">
        </video>
        <section class="banner large ti3">
            <h1>{{ _('title_ti2014') }}<br>{{ _('subtitle_hun_pubstomp') }}</h1>
        </section>

        <section class="heroes">
            <section class="bar">
                <h2>{{ _('bar_title') }}</h2>
                <p>{{ _('bar_description') }}</p>

                <h3>{{ _('facebook_events') }}</h3>
                <div class="buttons">
                    <a href="https://www.facebook.com/events/560078790769586/"><button>{{ _('day_1') }}</button></a>
                    <a href="https://www.facebook.com/events/667284120006053/"><button>{{ _('day_2') }}</button></a>
                    <a href="https://www.facebook.com/events/652706488149843/"><button>{{ _('day_3') }}</button></a>
                </div>
            </section>
            <section class="cinema">
                <h2>{{ _('cinema_title') }}</h2>
                <p>{{ _('cinema_description') }}</p>

                <h3>{{ _('facebook_event') }}</h3>
                <div class="buttons">
                    <a href="https://www.facebook.com/events/651912081565009/"><button>{{ _('grand_finals') }}</button></a>
                </div>
            </section>
        </section>
        <div class="details">
            <span class="text">{{ _('details') }}</span><br><span class="arrow">&#x25BF;</span>
        </div>
    </section>
    <section class="content" id="details">
        <article class="home-page">
            <section>
                <h3>{{ _('whats_a_pubstomp_title') }}</h3>
                <p>{{ _('whats_a_pubstomp_text') }}</p>

                <h3>{{ _('why_pubstomp_title') }}</h3>
                <p>{{ _('why_pubstomp_text_1') }}</p>

                <h3>{{ _('whats_an_international_title') }}</h3>
                <p>{{ _('whats_an_international_text') }}</p>

            </section>
            <section>
                <h3>{{ _('attend_title') }}</h3>
                <p>{{ _('attend_text') }}</p>

                <iframe
                  src="https://mapsengine.google.com/map/embed?mid=zRLuddProlyw.kPqsUAj9mdl8"
                  width="100%"
                  height="350"
                  frameborder="0"
                  style="border:0"
                >
                </iframe>

                <h3>{{ _('travelling_title') }}</h3>
                <p>{{ _('travelling_text') }}</p>
            </section>
        </article>
    </section>
{% endblock %}

{% block scripts %}
    {{ super() }}
    {{ countdown_javascript() }}
{% endblock %}
